<!-- 메인화면 -->

<head>
  <p> 
    <img style="margin-left: 100px;" src="/newbie.jpg" width="600">
  </p>
</head>

<!-- 메뉴 -->
<body class="mainbackground">
    <h1 style="margin-left: 200px; color: white;">Newbie Room Escape</h1>
    <p style="margin-left: 200px;">
        <a href="/home/index2.html" style="color: white;">메인화면</a><br>
        <a href="/home/method.html" style="color: white;">진행방법</a><br>
        <a href="/home/function.html" style="color: white;">추가기능</a><br>
    </p>
    
<!-- 하단 화면-->


<div style="text-align: center">
<p style="margin-bottom: 30px; color: white;">　</p>
<p style="margin-bottom: 30px; color: white;">　</p>
<p style="margin-bottom: 30px; color: white;">　</p>
</div>
			
<div style="float: left">
<a onclick="window.open('http://www.thelabyrinth.co.kr/labyrinth/html/tool_memo.jsp', '메모장','width=750, height=400'); return false"><input class="black" type="button" value="메모장" style="margin-left:25px"></a>
<a onclick="window.open('http://go.gagalive.kr/d/~~~new_likelion', '채팅방','width=500, height=400'); return false"><input class="black" type="button" value="채팅방" style="margin-left:5px"></a>
<a onclick="window.open('http://wantknow.tistory.com/'); return false"><input class="black" type="button" value="WantKnow" style="margin-left:5px"></a>
</div>
			
			
			
			
<div style="float: right";>
<input type="text" value="">
<input type="button" value="정답">
</div>

</body>