
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img class="logo" src="/logo.png" alt="라이언던전"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="display:flex; justify-content: flex-end;font-size : 14pt; font-weight: bold;">
      <li class="nav-item active" style="margin-left : 15px;">
        <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-left : 15px;">
        <a class="nav-link" href="/home/index2"> Room Escape </a>
      </li>
      <li class="nav-item" style="margin-left : 15px;">
        <a class="nav-link" href="/home/maketeam"> 팀 구성 </a>
      </li>
      <li class="nav-item" style="margin-left : 15px;">
        <a class="nav-link" href="/home/board2"> 질문 게시판 </a>
      </li>
      <div style="position:absolute; right: 25px;">
        <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
<%= User.all.inspect %>
    
    <%User.all.each do |a|%>
      <p><%= image_tag "#{a.proimg}" %></p>
    <%end%>
    <%= link_to('Login', new_user_session_path) %>
<% end %> 
  </div>


      
    </ul>
  </div>
</nav>
    <a href='method2'><button type="button" class="btn btn-secondary" style="position:absolute; top:180px; right:70px;">글쓰기</button></a>
      <header class="masthead text-center text-white d-flex">
      
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            
          </div>
        </div>
      </div>
    </header>
    