<!-- 메인화면 -->

<head>
      <h1 class="whitemiddle">축하합니다!</h1>
</head>


<body class="mainbackground">
<div style="margin-left:auto; margin-right:auto; text-align:center"><a href='/'><img style="align:center width:400px" src="/choco.jpg"></a>
</div>

<!-- 하단 메뉴 -->
<div style="float: left">
<a onclick="window.open('http://www.thelabyrinth.co.kr/labyrinth/html/tool_memo.jsp', '메모장','width=750, height=400'); return false"><input class="black" type="button" value="메모장" style="margin-left:25px"></a>
<a onclick="window.open('http://go.gagalive.kr/d/~~~new_likelion', '채팅방','width=500, height=400'); return false"><input class="black" type="button" value="채팅방" style="margin-left:5px"></a>
<a onclick="window.open('http://wantknow.tistory.com/'); return false"><input class="black" type="button" value="WantKnow" style="margin-left:5px"></a>
</div>

</body>