<!-- 메인화면 -->

<head>
      <h1 class="whitemiddle">Quiz 1</h1>
      
      <div>
      <iframe width="100%" height="500" src="https://www.daum.net" name="test" id="test" frameborder="1" scrolling="yes" align="left">이 브라우저는 iframe을 지원하지 않습니다</iframe>
      </div>
      
</head>


<body class="mainbackground">
<h2 class="whitemiddle">　</h2>
<h2 class="whitemiddle">위의 화면은 다음 메인화면을 ______ 한 것이다.</h2>
<h2 class="whitemiddle">한 웹페이지에 중첩된 또 다른 웹페이지를 넣는 이 코드는 무엇인가.</h2>
</div>

<!-- 하단 메뉴 -->
<div style="float: left">
<a onclick="window.open('http://www.thelabyrinth.co.kr/labyrinth/html/tool_memo.jsp', '메모장','width=750, height=400'); return false"><input class="black" type="button" value="메모장" style="margin-left:25px"></a>
<a onclick="window.open('http://go.gagalive.kr/d/~~~new_likelion', '채팅방','width=500, height=400'); return false"><input class="black" type="button" value="채팅방" style="margin-left:5px"></a>
<a onclick="window.open('http://wantknow.tistory.com/'); return false"><input class="black" type="button" value="WantKnow" style="margin-left:5px"></a>
</div>

<div style="float: right";>
<form action="/home/quiz2" method="get">
  <input type="text" name="answer">
  <input type="submit" value="정답">
</form>

</div>

</body>